# Ignore Python bytecode files
*.pyc
# Ignore Python cache directories
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
venv/
# Ignore logs
*.log
# Ignore build directories
build/
# Ignore DeepSeek Models
DeepSeek*/
